<h1>My Code Snippets</h1>

<div>
  <h2>Snippets by Language</h2>
<% @unique_categories.each do |category| %>
  <% number = Snippet.joins(:category).where("categories.title = ? AND snippets.user_id = ?", "#{category}", 1).length %>
  <% cat = Category.where("title = ?", "#{category}") %>
  <div>
    <%= link_to category, category_path(cat.first.id) %> <%= number > 1 || number == 0 ? "(#{number} Snippets)" : "(#{number} Snippet)" %>
  </div>
<% end %>
</div>
<hr>
<div>
  <h2>Latest Snippets</h2>
  <% @snippets.each do |snippet| %>
  <p><%= link_to snippet.title, snippet_path(snippet) %> (<%= snippet.category.title %>)</p>
  <% end %>
</div>
