<% if @note.errors.any? %>
  $('#note-errors').html('<span class="errors"><%= @note.errors.messages.map { |field, error| "#{field} #{error.first}"}.to_sentence.capitalize %>');
<% else %>
  $('.note-dropdown').html(
    '<div class="text-center"><span class="glyphicon glyphicon-ok-circle   note-success"></span></div><h3 class="text-center">Note added successfully!</h3>'
  );
  setTimeout(function(){
    $('span.hide-link').toggle();
    $('span.notes').toggle();
    <% @note = Note.new %>
    $('div.dropdown-menu.note-dropdown').html("<%= j render 'welcome/form', note: @note %>");
    $('div.dropdown-menu.note-dropdown').dropdown('toggle');
    $(".chosen-select").chosen({
      no_results_text: "No matching manufacturers found",
      placeholder_text_multiple: "Categories...",
      width: "100%"
    });
    $('.note-dropdown').click(function(e){
      e.stopPropagation();
    });
  }, 1200);

<% end %>
