<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Categories</h1>
    <div class="row">
      <table class="table table-striped table-condensed">
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.title %></td>
              <td class="text-right"><%= link_to 'Edit', edit_admin_category_path(category) %> | <%= link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure you want to delete this category?'}%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
