pre {
 font-family: monospace;
 background-color: #333333 ;
 color: #FFFFFF ;
 padding-left: 15px;
 padding-top: 15px;
 padding-right: 15px;
 padding-bottom: 15px;
 width: 600px;
 word-wrap: break-word;
 }
