// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.code {
  color: #fff;
  background-color: #333;
  padding: 20px 25px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 6px;
  font-family: monospace;
  text-align: left;
}

.centered {
  text-align: center;
}

.table {
  margin: 0;
}

.table h3 {
  margin: 0;
}
